html, body {
    font-family: "Montserrat", 'Pretendard', "Malgun Gothic", "맑은 고딕", Dotum, 돋움 ;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.4;
    color: #3d3d3d;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
}

#wrap {
    min-width: 1260px;
    overflow: hidden;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}

@media screen and (max-width:1300px) {
    #wrap {
        min-width: 100%
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}/* media */
@media screen and (max-width:1024px) {
    html, body {
        font-size: 15px;
    }
}
@media screen and (max-width:768px) {
    html, body {
        font-size: 14px;
    }
}
::selection {
    background-color: #bcbcbc;
    color: #1d1d1d;
}


:root {
    --txt-color-tit: #1d1d1d;
    --txt-color-txt: #3d3d3d;
    --txt-color-gray: #666;
    --txt-tit-size : 3rem;
    --txt-subtab-size : 1.125rem;
}

@media screen and (max-width:1300px) {
    :root {

    }
}
@media screen and (max-width:1024px) {
    :root {
        --txt-subtab-size : 1.143rem;
    }
}
@media screen and (max-width:768px) {
    :root {
        --txt-tit-size : 2.333rem;
        --txt-subtab-size : 1.143rem;
    }
}
@media screen and (max-width:425px) {
    :root {
        --txt-tit-size : 2.143rem;
        --txt-subtab-size : 1.071rem;
    }
}