.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 9999999999;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #6A88BE;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px;
}

header {
    z-index: 100;
    width: 100%;
    position: relative;
}
.header_top {
    height: 40px;
    background-color: var(--color-blue);
}
.header_top .wrapper {
   display: flex;
   justify-content: space-between;
}
.header_top .sns ul {
    display: flex;  
}
.header_top .sns ul li {
    margin: 8px 16px 0 0;
}
.header_top .sns ul li a {
    font-size: 0;
    line-height: 0;
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
}
.header_top .sns ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.header_top .sns ul li.insta a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='white'/%3E%3Cg clip-path='url(%23clip0_26_1260)'%3E%3Cpath d='M15.8093 7.37012C15.3445 7.37012 14.9646 7.75002 14.9646 8.2148C14.9646 8.67958 15.3445 9.05948 15.8093 9.05948C16.2741 9.05948 16.654 8.67958 16.654 8.2148C16.654 7.75002 16.2741 7.37012 15.8093 7.37012Z' fill='%236A88BE'/%3E%3Cpath d='M12.0586 8.45312C10.1025 8.45312 8.51416 10.0455 8.51416 11.9976C8.51416 13.9496 10.1065 15.542 12.0586 15.542C14.0107 15.542 15.603 13.9496 15.603 11.9976C15.603 10.0455 14.0107 8.45312 12.0586 8.45312ZM12.0586 14.2689C10.8057 14.2689 9.78724 13.2504 9.78724 11.9976C9.78724 10.7447 10.8057 9.72621 12.0586 9.72621C13.3115 9.72621 14.3299 10.7447 14.3299 11.9976C14.3299 13.2504 13.3115 14.2689 12.0586 14.2689Z' fill='%236A88BE'/%3E%3Cpath d='M14.8716 19.1998H9.12449C6.73999 19.1998 4.80005 17.2599 4.80005 14.8754V9.12829C4.80005 6.73974 6.73999 4.7998 9.12449 4.7998H14.8716C17.2561 4.7998 19.196 6.73974 19.196 9.12425V14.8713C19.196 17.2558 17.2561 19.1958 14.8716 19.1958V19.1998ZM9.12449 6.15372C7.48767 6.15372 6.15396 7.48743 6.15396 9.12425V14.8713C6.15396 16.5081 7.48767 17.8418 9.12449 17.8418H14.8716C16.5084 17.8418 17.8421 16.5081 17.8421 14.8713V9.12425C17.8421 7.48743 16.5084 6.15372 14.8716 6.15372H9.12449Z' fill='%236A88BE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1260'%3E%3Crect width='14.4' height='14.4' fill='white' transform='translate(4.80005 4.7998)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.header_top .sns ul li.naver a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='white'/%3E%3Cg clip-path='url(%23clip0_26_1266)'%3E%3Cpath d='M19.2 5.6001V18.8399H14.3699L9.63022 12.1747V18.8399H4.80005V5.6001H9.63022L14.3699 12.5327V5.6001H19.2Z' fill='%236A88BE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1266'%3E%3Crect width='14.4' height='13.2398' fill='white' transform='translate(4.80005 5.6001)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}   
.header_top .sns ul li.kakao a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='12' fill='white'/%3E%3Cg clip-path='url(%23clip0_26_1270)'%3E%3Cpath d='M15.7801 11.1218V5.24609H8V13.3017H11.6C11.2585 15.3539 10.0736 16.9335 8.85577 17.8277L11.1186 20.1524C13.9287 18.1981 15.7842 14.8941 15.7842 11.126L15.7801 11.1218Z' fill='%236A88BE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1270'%3E%3Crect width='7.78011' height='14.902' fill='white' transform='translate(8 5.24609)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.header_top .tnb ul {
    padding-top: 12px;
    display: flex;
    font-size: 0.813rem;
    color: var(--color-deepblue);
}
.header_top .tnb ul li a {
    margin-left: 25px;
}

.header_sub {
    height: 100px;
    padding-top: 50px;
}
.header_sub .logo {
    padding-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40px;
}
.header_sub .logo a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 178px;
    height: 43px;
    position: relative;
}
.header_sub .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/main/logo\ 1.png) no-repeat center center / contain;
    content: "";
}
.header_sub .gnb_wrap {
    display: flex;
    justify-content: space-between;
}
.header_sub .gnb_wrap ul.depth1 {
    display: flex;
    align-items: center;
}
.header_sub .gnb_wrap ul.depth1 li {
    font-size: 1.125rem;
    font-weight: 700;   
}
.header_sub .gnb_wrap ul.depth1 li a {
    display: block;
    padding: 10px 24px 10px 24px;
}
.header_sub .gnb_wrap ul.depth1 li:first-child a {
    padding-left: 0;
}
.header_sub .gnb_wrap ul.depth1 li a span {
    position: relative;
}
.header_sub .gnb_wrap ul.depth1 li a:hover span::after {
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 3px;
    background-color: #6A88BE;
    content: "";
}
.header_sub .gnb_wrap ul.depth1 li:hover {
    color: var(--color-blue2);
}

.header_sub .gnb_wrap ul.search {
    display: flex;
    align-items: center;
}
.header_sub .gnb_wrap ul.search li a {
    margin: 0 5px 0 0;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.header_sub .gnb_wrap ul.search li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.header_sub .gnb_wrap ul.search li.my_page a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12C10.9 12 9.95833 11.6083 9.175 10.825C8.39167 10.0417 8 9.1 8 8C8 6.9 8.39167 5.95833 9.175 5.175C9.95833 4.39167 10.9 4 12 4C13.1 4 14.0417 4.39167 14.825 5.175C15.6083 5.95833 16 6.9 16 8C16 9.1 15.6083 10.0417 14.825 10.825C14.0417 11.6083 13.1 12 12 12ZM4 20V17.2C4 16.6333 4.14583 16.1125 4.4375 15.6375C4.72917 15.1625 5.11667 14.8 5.6 14.55C6.63333 14.0333 7.68333 13.6458 8.75 13.3875C9.81667 13.1292 10.9 13 12 13C13.1 13 14.1833 13.1292 15.25 13.3875C16.3167 13.6458 17.3667 14.0333 18.4 14.55C18.8833 14.8 19.2708 15.1625 19.5625 15.6375C19.8542 16.1125 20 16.6333 20 17.2V20H4ZM6 18H18V17.2C18 17.0167 17.9542 16.85 17.8625 16.7C17.7708 16.55 17.65 16.4333 17.5 16.35C16.6 15.9 15.6917 15.5625 14.775 15.3375C13.8583 15.1125 12.9333 15 12 15C11.0667 15 10.1417 15.1125 9.225 15.3375C8.30833 15.5625 7.4 15.9 6.5 16.35C6.35 16.4333 6.22917 16.55 6.1375 16.7C6.04583 16.85 6 17.0167 6 17.2V18ZM12 10C12.55 10 13.0208 9.80417 13.4125 9.4125C13.8042 9.02083 14 8.55 14 8C14 7.45 13.8042 6.97917 13.4125 6.5875C13.0208 6.19583 12.55 6 12 6C11.45 6 10.9792 6.19583 10.5875 6.5875C10.1958 6.97917 10 7.45 10 8C10 8.55 10.1958 9.02083 10.5875 9.4125C10.9792 9.80417 11.45 10 12 10Z' fill='%23013C5A'/%3E%3C/svg%3E%0A");
} 
.header_sub .gnb_wrap ul.search li.cart a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 22C6.45 22 5.97917 21.8042 5.5875 21.4125C5.19583 21.0208 5 20.55 5 20C5 19.45 5.19583 18.9792 5.5875 18.5875C5.97917 18.1958 6.45 18 7 18C7.55 18 8.02083 18.1958 8.4125 18.5875C8.80417 18.9792 9 19.45 9 20C9 20.55 8.80417 21.0208 8.4125 21.4125C8.02083 21.8042 7.55 22 7 22ZM17 22C16.45 22 15.9792 21.8042 15.5875 21.4125C15.1958 21.0208 15 20.55 15 20C15 19.45 15.1958 18.9792 15.5875 18.5875C15.9792 18.1958 16.45 18 17 18C17.55 18 18.0208 18.1958 18.4125 18.5875C18.8042 18.9792 19 19.45 19 20C19 20.55 18.8042 21.0208 18.4125 21.4125C18.0208 21.8042 17.55 22 17 22ZM6.15 6L8.55 11H15.55L18.3 6H6.15ZM5.2 4H19.95C20.3333 4 20.625 4.17083 20.825 4.5125C21.025 4.85417 21.0333 5.2 20.85 5.55L17.3 11.95C17.1167 12.2833 16.8708 12.5417 16.5625 12.725C16.2542 12.9083 15.9167 13 15.55 13H8.1L7 15H19V17H7C6.25 17 5.68333 16.6708 5.3 16.0125C4.91667 15.3542 4.9 14.7 5.25 14.05L6.6 11.6L3 4H1V2H4.25L5.2 4Z' fill='%23013C5A'/%3E%3C/svg%3E%0A");
}
.gnb_search_box{
    position: relative;
    width: 214px;
}
.gnb_search_box input {
    width: 100%;
    background-color: var(--color-blue);
    border: transparent;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
.gnb_search_box .search_btn {
    position: absolute;
    top: 7px;
    right: 7px;
}
.gnb_search_box img {
    width: 24px;
    height: 24px;
    margin: 0;
}
@media screen and (min-width:769px) {
    header.fixed .header_sub {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    header.fixed .header_sub .logo a::before {
        top: -30px;
    } 
}
@media screen and (max-width:768px) {
    .header_top {
        height: 40px;
        background-color: var(--color-blue);
    }
    .header_top .wrapper {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    .header_sub {
        height: 150px;
    }
    .header_sub .logo {
        margin: auto; 
    }
    .header_sub .logo a::before {
        text-align: center;
    }
    .header_sub .gnb_wrap {
        display: block;
    }
    .header_sub .gnb_wrap ul.depth1 {
        justify-content: center;
        margin: 10px 0;
    }
    .header_sub .gnb_wrap ul.depth1 li a {
        display: block;
        padding: 10px 24px 10px 24px;
    }
    .header_sub .gnb_wrap ul.depth1 li {
        margin: 5px 5px 0 0;
        width: 75px; 
    }
    .header_sub .gnb_wrap ul.depth1 li:last-child {
        margin-right: 0; 
    }
    .header_sub .gnb_wrap ul.depth1 li a {
        font-size: 0.875rem;
        padding: 5px 0; 
        text-align: center;
        color: #fff;
        background-color: var(--color-blue2);
        border-radius: 10px;
    }
    .header_sub .gnb_wrap ul.depth1 li:hover {
        color: #fff;
    }
    .header_sub .gnb_wrap ul.search {
        justify-content: center;
    }   
    .header_sub .gnb_wrap ul.search li.my_page {
        display: none;
    }
    .gnb_search_box{
        width: 70%;
    }
    header.fixed .header_sub .gnb_wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
}

.quick_cont {
    position: fixed;
    right: -30px;
    bottom: 15%;
    transform: translate(-50%);
    z-index: 99;
}
.quick_cont ul li {
    margin-bottom: 10px;
}
.quick_cont ul li a,
.quick_cont ul li button {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: #cccccc;
    text-align: center;
    position: relative;
    font-size: 0;
    line-height: 0;
}
.quick_cont ul li.service a {
    background-color: var( --color-blue2);
}
.quick_cont ul li a::before,
.quick_cont ul li button::before {
    position: absolute;
    left: 21px;
    top: 21px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.quick_cont ul li.history a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 35C16.1667 35 12.8264 33.7292 9.97917 31.1875C7.13194 28.6458 5.5 25.4722 5.08333 21.6667H8.5C8.88889 24.5556 10.1736 26.9444 12.3542 28.8333C14.5347 30.7222 17.0833 31.6667 20 31.6667C23.25 31.6667 26.0069 30.5347 28.2708 28.2708C30.5347 26.0069 31.6667 23.25 31.6667 20C31.6667 16.75 30.5347 13.9931 28.2708 11.7292C26.0069 9.46528 23.25 8.33333 20 8.33333C18.0833 8.33333 16.2917 8.77778 14.625 9.66667C12.9583 10.5556 11.5556 11.7778 10.4167 13.3333H15V16.6667H5V6.66667H8.33333V10.5833C9.75 8.80556 11.4792 7.43056 13.5208 6.45833C15.5625 5.48611 17.7222 5 20 5C22.0833 5 24.0347 5.39583 25.8542 6.1875C27.6736 6.97917 29.2569 8.04861 30.6042 9.39583C31.9514 10.7431 33.0208 12.3264 33.8125 14.1458C34.6042 15.9653 35 17.9167 35 20C35 22.0833 34.6042 24.0347 33.8125 25.8542C33.0208 27.6736 31.9514 29.2569 30.6042 30.6042C29.2569 31.9514 27.6736 33.0208 25.8542 33.8125C24.0347 34.6042 22.0833 35 20 35ZM24.6667 27L18.3333 20.6667V11.6667H21.6667V19.3333L27 24.6667L24.6667 27Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
}
.quick_cont ul li.service a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3333 35V31.6667H31.6666V19.8333C31.6666 16.5833 30.5347 13.8264 28.2708 11.5625C26.0069 9.29861 23.25 8.16667 20 8.16667C16.75 8.16667 13.993 9.29861 11.7291 11.5625C9.46526 13.8264 8.33331 16.5833 8.33331 19.8333V30H6.66665C5.74998 30 4.96526 29.6736 4.31248 29.0208C3.6597 28.3681 3.33331 27.5833 3.33331 26.6667V23.3333C3.33331 22.75 3.47915 22.2014 3.77081 21.6875C4.06248 21.1736 4.4722 20.7639 4.99998 20.4583L5.12498 18.25C5.3472 16.3611 5.89581 14.6111 6.77081 13C7.64581 11.3889 8.74303 9.98611 10.0625 8.79167C11.3819 7.59722 12.8958 6.66667 14.6041 6C16.3125 5.33333 18.1111 5 20 5C21.8889 5 23.6805 5.33333 25.375 6C27.0694 6.66667 28.5833 7.59028 29.9166 8.77083C31.25 9.95139 32.3472 11.3472 33.2083 12.9583C34.0694 14.5694 34.625 16.3194 34.875 18.2083L35 20.375C35.5278 20.625 35.9375 21 36.2291 21.5C36.5208 22 36.6666 22.5278 36.6666 23.0833V26.9167C36.6666 27.4722 36.5208 28 36.2291 28.5C35.9375 29 35.5278 29.375 35 29.625V31.6667C35 32.5833 34.6736 33.3681 34.0208 34.0208C33.368 34.6736 32.5833 35 31.6666 35H18.3333ZM15 23.3333C14.5278 23.3333 14.1319 23.1736 13.8125 22.8542C13.493 22.5347 13.3333 22.1389 13.3333 21.6667C13.3333 21.1944 13.493 20.7986 13.8125 20.4792C14.1319 20.1597 14.5278 20 15 20C15.4722 20 15.868 20.1597 16.1875 20.4792C16.5069 20.7986 16.6666 21.1944 16.6666 21.6667C16.6666 22.1389 16.5069 22.5347 16.1875 22.8542C15.868 23.1736 15.4722 23.3333 15 23.3333ZM25 23.3333C24.5278 23.3333 24.1319 23.1736 23.8125 22.8542C23.493 22.5347 23.3333 22.1389 23.3333 21.6667C23.3333 21.1944 23.493 20.7986 23.8125 20.4792C24.1319 20.1597 24.5278 20 25 20C25.4722 20 25.868 20.1597 26.1875 20.4792C26.5069 20.7986 26.6666 21.1944 26.6666 21.6667C26.6666 22.1389 26.5069 22.5347 26.1875 22.8542C25.868 23.1736 25.4722 23.3333 25 23.3333ZM10.0416 20.75C9.8472 17.8056 10.7361 15.2778 12.7083 13.1667C14.6805 11.0556 17.1389 10 20.0833 10C22.5555 10 24.7291 10.7847 26.6041 12.3542C28.4791 13.9236 29.6111 15.9306 30 18.375C27.4722 18.3472 25.1458 17.6667 23.0208 16.3333C20.8958 15 19.2639 13.1944 18.125 10.9167C17.6805 13.1389 16.743 15.1181 15.3125 16.8542C13.8819 18.5903 12.125 19.8889 10.0416 20.75Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_cont ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 16.6668L27.5833 19.0002L21.6667 13.0835L21.6667 33.3335L18.3333 33.3335L18.3333 13.0835L12.4167 19.0002L10 16.6668L20 6.66683L30 16.6668Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:768px) {
    .quick_cont {
        display: none;
    }
}
footer {
    background-color: #f3f3f3;
    color: #666;
}
footer .wrapper {
    display: flex;
    padding: 60px 0 60px 0;
}
footer .wrapper h3 {
    font-size: 1.125rem;
    color: #3d3d3d;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 8px;
}
footer .wrapper strong {
    line-height: 1;
}
footer .wrapper p {
    font-size: 0.875rem;
}
footer .f_counsel {
    width: 385px;
    position: relative;
}
footer .f_counsel::before {
    position: absolute;
    top: 0;
    left: 385px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
}
footer .f_counsel .top strong {
    color: #1d1d1d;
    font-weight: 700;
    font-size: 1.25rem;
}
footer .f_counsel .top .f_1 {
    margin: 10px 0 10px;
}
footer .f_counsel .top .f_2 {
    font-size: 0.813rem;
    margin-bottom: 15px;
}
footer .f_counsel .top .coun_btn span {
    font-size: 0.875rem;
    color: #3d3d3d;
    background-color: var(--color-blue);
    padding: 6px;
}
footer .f_counsel .bottom {
    margin-top: 40px;
    width: 290px;
}
footer .f_guide {
    width: 340px;
    padding-left: 63px;
    position: relative;
}
footer .f_guide::before {
    position: absolute;
    top: 0;
    left: 340px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
}
footer .f_guide .top {
    margin-bottom: 40px;
}
footer .f_cont {
    width: 535px;
    padding-left: 51px;
}
footer .f_cont .f_nav {
    margin:0 93px 50px 0;
}
footer .f_cont .f_nav ul {
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
}
footer .f_cont .f_info {
    font-size: 0.875rem;
}
footer .f_cont .f_info address {
    margin-bottom: 20px;
}
footer .f_cont .f_info .biz {
    margin-left: 2px;
    text-decoration: underline;
}
footer .copy {
    margin-top: 40px;
}
footer .f_cont .copy {
    font-size: 0.75rem;
}
@media screen and (max-width:768px) {
    footer .wrapper {
        display: block;
        text-align: center;
    }
    footer .wrapper strong {
        line-height: 1;
    }
    footer .wrapper p {
        font-size: 0.875rem;
    }
    footer .f_counsel {
        width: 100%;
        margin: 0 0 50px 0;
    }
    footer .f_counsel::before {
        display: none;
    }
    footer .f_counsel .bottom p  {
       display: block;
        text-align: center;
    }
    footer .f_counsel .top strong {
        color: #1d1d1d;
        font-weight: 700;
        font-size: 1.25rem;
    }
    footer .f_counsel .top .coun_btn span {
        font-size: 0.875rem;
        color: #3d3d3d;
        background-color: var(--color-blue);
        padding: 6px;
    }
    footer .f_counsel .bottom {
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }
    footer .f_guide {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    footer .f_guide::before {
        display: none;
    }
    footer .f_guide {
        margin-bottom: 50px;
    }
    footer .f_cont {
        width: 100%;
        padding-left: 0;
    }
    footer .f_cont .f_nav {
        margin: 0 0 40px 0;
        text-align: center;
    }
    footer .f_cont .f_nav ul {
        font-size: 0.875rem;
        display: flex;
        justify-content: space-evenly;
    }
}

.breadcrumb ol {
    display: flex;
    justify-content: flex-end;
}
.breadcrumb ol li {
    margin-left: 18px;
    position: relative;
    padding: 18px 0 18px 0;
    font-size: 0.813rem;
}
.breadcrumb ol li::after {
    position: absolute;
    right: -15px;
    top: 22px;
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.36974 5L2.0835 0.931904L3.06537 0L8.3335 5L3.06537 10L2.0835 9.0681L6.36974 5Z' fill='%23013C5A'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.breadcrumb ol li:last-child::after {
    display: none;
}
.breadcrumb ol li a {
    display: block;
}
.breadcrumb ol li.home a {
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    position: relative;
}
.breadcrumb ol li.home a::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 15.8334H7.78854V10.8815H12.2115V15.8334H15V8.33343L10 4.56738L5 8.33343V15.8334ZM3.75 17.0834V7.70843L10 3.00488L16.25 7.70843V17.0834H10.9615V12.1315H9.03854V17.0834H3.75Z' fill='%23013C5A'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.breadcrumb ol li.login a {
    color: var(--color-deepblue);
}