@import url(default.css);
@import url(fonts.css);
@import url(common.css); 
@import url(layout.css);

.login_tab .form {
    text-align: center;
    background-color: #eee;
    border-radius: 20px;
    width: 618px;
    margin: 50px auto 0 auto;
}
.login_tab .form h2 {
    font-size: 3.25rem;
    font-family: 'Laundry';
    font-weight: 700;
    color: var(--color-deepblue);
    padding: 20px 0 20px 0;
}
input {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}
.login_tab .in {
    margin-bottom: 14px;
}
#btn {
    margin: 12px 0 35px 0;
    background-color: var(--color-blue);
    color: var(--color-deepblue);
    font-size: 1.25rem;
    font-weight: 700;
}

.login_tab .n_log {
    display: flex;
    width: 70%;
    height: 60px;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
    position: relative;
}
.login_tab .n_log p {
    width: 85%;
}
.login_tab .n_log a {
    display: block;
    width: 100%;
    height: 60px;
}
.login_tab .n_log a  > span {
    position: absolute;
    top: 20px;
    left: 100px;
}
.login_tab .n_log em {
    width: 65px;
    margin-left: 0;
    background-color: #2EB80D;
    border-radius: 10px 0 0 10px;
}
.login_tab .n_log em a {
    font-size: 0;
    line-height: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.login_tab .n_log em a::before {
    position: absolute;
    left: 18px;
    top: 15px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='28' viewBox='0 0 30 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_93_10)'%3E%3Cpath d='M30 0V27.5829H19.9371L10.0629 13.6971V27.5829H0V0H10.0629L19.9371 14.4429V0H30Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_93_10'%3E%3Crect width='30' height='27.5829' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
.login_tab .last {
    padding: 30px 0 55px 0;
    display: block;
    color: #5d5d5d;
}
.login_tab .last a {
    margin-right: 35px;
}
.login_tab .last a:last-child {
    margin-right: 0;
}
@media screen and (max-width:768px) {
    .login_tab .form {
        width: 70%;
    }
}
@media screen and (max-width:425px) {
    .login_tab .form {
        width: 100%;
    }
}