.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 9999999999;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #0C6779;
    color:  var(--txt-color-white);
    text-align: center;
}
.skip_nav a:focus {
    top: 100px;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: var(--txt-color-white); 
    background-color: rgba(0,0,0,0.1);
}
.header_top {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.header_top .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
}
.header_top .h_left ul {
    display: flex;  
}
.header_top .h_left ul li a {
    display: block;
}
.header_top .h_left ul li:first-child {
    padding-right: 40px;
}
.header_top .h_right,
.header_top .h_right ul {
    display: flex;
    align-items: center;
}
.header_top .h_right ul.sns li {
    margin-right: 10px;
}
.header_top .h_right ul.sns li a {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.header_top .h_right ul.sns li a::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.header_top .h_right ul.sns li.face a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_5910)'%3E%3Cpath d='M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z' fill='%23337FFF'/%3E%3Cpath d='M18.3071 15.4883L18.8216 12.1353H15.6051V9.96177C15.6051 9.04477 16.0531 8.15227 17.4951 8.15227H18.9581V5.29977C18.9581 5.29977 17.6316 5.07227 16.3611 5.07227C13.7116 5.07227 11.9826 6.67877 11.9826 9.58377V12.1388H9.03906V15.4918H11.9826V23.5943H15.6051V15.4918H18.3071V15.4883Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_5910'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.header_top .h_right ul.sns li.blog a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_5903)'%3E%3Cpath d='M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z' fill='%236BB153'/%3E%3Cpath d='M8.57556 13.293C8.20806 13.293 7.91406 13.5905 7.91406 13.9545C7.91406 14.3185 8.21156 14.616 8.57556 14.616C8.93956 14.616 9.23706 14.3185 9.23706 13.9545C9.23706 13.5905 8.93956 13.293 8.57556 13.293Z' fill='white'/%3E%3Cpath d='M15.1242 13.2227C14.7287 13.2227 14.4102 13.5412 14.4102 13.9367C14.4102 14.3322 14.7287 14.6507 15.1242 14.6507C15.5197 14.6507 15.8382 14.3322 15.8382 13.9367C15.8382 13.5412 15.5197 13.2227 15.1242 13.2227Z' fill='white'/%3E%3Cpath d='M21.049 6.70508H6.951C5.53 6.70508 4.375 7.85658 4.375 9.28108V17.6496C4.375 19.0706 5.5265 20.2256 6.951 20.2256H11.9315L13.6255 24.2156C13.6255 24.2156 13.741 24.5621 14.0245 24.5621C14.308 24.5621 14.4235 24.2156 14.4235 24.2156L16.1175 20.2256H21.0525C22.4735 20.2256 23.6285 19.0741 23.6285 17.6496V9.28108C23.6285 7.86008 22.477 6.70508 21.0525 6.70508H21.049ZM10.423 14.1006C10.416 15.6301 8.834 15.6756 8.834 15.6756C8.2215 15.6756 7.8785 15.2696 7.8785 15.2696V15.5461H6.727V10.7966C6.797 10.8106 7.8785 10.7966 7.8785 10.7966V12.6131C8.148 12.1511 8.932 12.1581 8.932 12.1581C10.6365 12.3156 10.423 14.1041 10.423 14.1041V14.1006ZM12.4495 12.3016V15.5531H11.3225V12.3331C11.3225 11.8956 10.78 11.7731 10.78 11.7731V10.6391C12.579 10.7126 12.4495 12.3016 12.4495 12.3016ZM15.1235 15.6756C14.0805 15.6756 13.2335 14.8951 13.2335 13.9361C13.2335 12.9771 14.0805 12.1966 15.1235 12.1966C16.1665 12.1966 17.0135 12.9771 17.0135 13.9361C17.0135 14.8951 16.1665 15.6756 15.1235 15.6756ZM21.301 15.6756C21.301 15.6756 21.3185 17.3276 19.6385 17.3276H19.1275V16.2566H19.4355C19.4355 16.2566 20.1425 16.3231 20.132 15.2346C20.132 15.2346 19.9955 15.6756 19.005 15.6756C19.005 15.6756 17.6015 15.5741 17.6015 14.2056V13.6876C17.6015 13.6876 17.633 12.2666 19.1765 12.1546C19.1765 12.1546 19.7855 12.0881 20.1565 12.5921V12.2421H21.301V15.6756Z' fill='white'/%3E%3Cpath d='M19.5051 13.2402C19.1201 13.2402 18.8086 13.5517 18.8086 13.9367C18.8086 14.3217 19.1201 14.6332 19.5051 14.6332C19.8901 14.6332 20.2016 14.3217 20.2016 13.9367C20.2016 13.5517 19.8901 13.2402 19.5051 13.2402Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_5903'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.header_menu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
header .logo a {
    display: block;
    width: 216px;
    height: 54px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/main/logo.png) no-repeat center center / contain;
    content: "";
}
header.fixed {
    position: fixed;
    background-color: var(--txt-color-white);
    color: var(--txt-color-tit);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
header.fixed .header_top {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='167' height='50' viewBox='0 0 167 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_57_6516)'%3E%3Cpath d='M20.8086 5.19137C20.8086 2.32607 23.0924 0 25.9154 0C28.7384 0 31.0222 2.32607 31.0222 5.19137C31.0222 8.05667 28.7384 10.3722 25.9154 10.3722C23.0924 10.3722 20.8086 8.0461 20.8086 5.19137Z' fill='%23D82B36'/%3E%3Cpath d='M4.09177 9.49465C4.09177 9.49465 3.16134 5.68835 0 6.98884C0 6.98884 3.20364 7.58093 2.24149 11.9687C1.26877 16.3566 4.13407 18.1223 5.0222 18.0483C5.0222 18.0483 5.36054 11.1758 11.0066 10.6365C16.4094 10.129 18.8835 16.0499 18.4183 17.8156C18.4183 17.8156 21.7065 11.937 15.7962 7.53864C9.82237 3.09795 4.32438 8.94485 4.09177 9.49465Z' fill='%23FDB913'/%3E%3Cpath d='M18.3125 18.0059C18.3125 18.0059 7.86633 32.4381 28.5261 49.9471C28.5261 49.9471 15.8596 45.5064 11.0594 36.1492C6.44954 27.141 12.1907 19.0526 18.3125 18.0059Z' fill='%23FDB913'/%3E%3Cpath d='M28.7797 50.0006C28.7797 50.0006 21.8543 42.6311 20.1309 34.2679C18.4815 26.2746 20.7019 18.4823 26.9822 15.0883C26.9822 15.0883 32.8291 11.282 42.9476 13.4706C50.9302 15.1941 63.9139 17.7527 70.9662 9.86523C70.9662 9.86523 69.5282 20.5335 56.8511 23.6102C56.8511 23.6102 52.5268 24.5512 46.7539 23.9803C40.981 23.4093 32.1736 20.6392 27.1831 25.7565C22.1927 30.8739 25.1743 42.6946 28.7797 50.0111V50.0006Z' fill='%23034EA2'/%3E%3Cpath d='M28.7811 49.7348C28.7811 49.7348 27.8189 38.982 33.9302 34.6259C39.6502 30.5553 48.299 36.9837 56.0279 28.927C56.0279 28.927 52.9617 30.1958 46.7553 29.2971C41.3736 28.5146 32.9786 25.1101 28.8868 31.5914C24.9854 37.7766 28.7811 49.7348 28.7811 49.7348Z' fill='%23034EA2'/%3E%3Cpath d='M100.393 10.6678L102.095 12.3594V13.4908H89.2169V10.5938H83.1797L84.607 12.8458V19.1896L86.4362 21.2408H106.43V10.6572H100.393V10.6678ZM102.084 18.8513H89.1429V16.1023H102.084V18.8513Z' fill='%231D1D1D'/%3E%3Cpath d='M107.984 24.2754H83.1055V26.7389H93.4142V33.7277H98.2144V26.7389H107.984V24.2754Z' fill='%231D1D1D'/%3E%3Cpath d='M130.937 10.7422L132.703 12.7088V15.6058H127.237C125.905 12.8885 123.24 11.0277 120.174 11.0277C115.765 11.0277 112.191 14.8551 112.191 19.5918C112.191 24.3286 115.765 28.1666 120.174 28.1666C122.912 28.1666 125.334 26.6758 126.772 24.4237H132.703V33.6646H136.911V10.7422H130.937ZM120.407 26.2529C118.102 26.2529 116.241 23.3241 116.241 19.6976C116.241 16.071 118.102 13.1423 120.407 13.1423C122.712 13.1423 124.572 16.071 124.572 19.6976C124.572 23.3241 122.712 26.2529 120.407 26.2529ZM127.766 22.2351C128.019 21.3998 128.167 20.5117 128.167 19.5918C128.167 18.8306 128.062 18.0799 127.882 17.3715H132.703V22.2351H127.766Z' fill='%231D1D1D'/%3E%3Cpath d='M143.531 13.6396V10.8906H163.726L165.417 12.6458V18.9896H161.083V13.6396H143.531Z' fill='%231D1D1D'/%3E%3Cpath d='M166.507 20.1836H142.168V22.5097H151.937V26.612H156.272V22.5097H166.507V20.1836Z' fill='%231D1D1D'/%3E%3Cpath d='M142.242 25.2695H148.142V31.1904H165.207V33.654H146.038L143.796 31.6768V27.0987L142.242 25.2695Z' fill='%231D1D1D'/%3E%3Cpath d='M119.552 40.8008V39.8281H111.559L112.309 40.7691V48.921H119.446V47.9271H114.424V44.5754H118.41V43.6027H114.424V40.8008H119.552Z' fill='%231D1D1D'/%3E%3Cpath d='M122.342 48.6244C121.634 48.2543 121.084 47.7151 120.672 47.0067C120.27 46.2877 120.059 45.4419 120.059 44.448C120.059 43.4541 120.27 42.6506 120.672 41.9422C121.084 41.2232 121.645 40.684 122.342 40.3034C123.04 39.9227 123.833 39.7324 124.7 39.7324C125.567 39.7324 126.328 39.9227 127.037 40.3034C127.735 40.684 128.295 41.2338 128.707 41.9422C129.12 42.6506 129.321 43.4964 129.321 44.448C129.321 45.3996 129.12 46.2877 128.707 47.0067C128.295 47.7151 127.745 48.2649 127.037 48.6244C126.339 48.9944 125.546 49.1742 124.69 49.1742C123.833 49.1742 123.03 48.9944 122.321 48.6244H122.342ZM122.342 46.5309C122.586 47.1018 122.903 47.5248 123.315 47.8102C123.727 48.0957 124.182 48.2437 124.7 48.2437C125.218 48.2437 125.662 48.0957 126.075 47.8102C126.487 47.5248 126.815 47.0913 127.047 46.5203C127.291 45.9494 127.407 45.2516 127.407 44.448C127.407 43.6445 127.291 42.9889 127.047 42.418C126.804 41.847 126.487 41.4135 126.075 41.1069C125.662 40.8109 125.208 40.6628 124.7 40.6628C124.193 40.6628 123.727 40.8109 123.315 41.1069C122.903 41.403 122.575 41.8365 122.332 42.418C122.089 42.9889 121.972 43.6656 121.972 44.448C121.972 45.2621 122.089 45.96 122.332 46.5309H122.342Z' fill='%231D1D1D'/%3E%3Cpath d='M98.6498 39.7324L99.3476 40.6628V45.8014C99.3476 47.7891 98.1423 48.2755 97.3388 48.2755C96.5352 48.2755 95.3933 47.8102 95.3616 45.8014L95.3827 39.7324H92.5703L93.2258 40.5465V46.034C93.2258 46.5943 93.4902 49.2905 97.3388 49.2905C101.187 49.2905 101.452 46.6155 101.452 46.034V39.7324H98.6392H98.6498Z' fill='%231D1D1D'/%3E%3Cpath d='M153.173 39.7324L153.882 40.6628V45.8014C153.882 47.7891 152.676 48.2755 151.873 48.2755C151.069 48.2755 149.927 47.8102 149.885 45.8014L149.906 39.7324H147.094L147.749 40.5465V46.034C147.749 46.5943 148.014 49.2905 151.862 49.2905C155.711 49.2905 155.975 46.6155 155.975 46.034V39.7324H153.163H153.173Z' fill='%231D1D1D'/%3E%3Cpath d='M102.297 39.7324H104.739L107.393 43.7925L109.835 39.7324H111.189L108.08 44.9661V48.9204H105.997V44.9344L103.196 40.5571L102.297 39.7324Z' fill='%231D1D1D'/%3E%3Cpath d='M143.955 41.9218H145.88C145.88 41.9218 145.288 39.416 141.365 39.416C137.442 39.416 136.766 42.5668 136.766 44.0259C136.766 45.1255 137.284 48.8049 141.323 48.8049C141.323 48.8049 143.416 48.9 143.976 47.515V48.8049H145.88V44.3536H142.803L143.976 45.1678V46.3837C143.976 46.3837 143.638 48.0542 141.312 47.8322C139.018 47.6101 138.753 44.5968 138.753 44.0999C138.753 44.0999 138.478 40.4522 141.566 40.2724C143.49 40.1561 143.934 41.9007 143.934 41.9007L143.955 41.9218Z' fill='%231D1D1D'/%3E%3Cpath d='M135.241 43.5918H130.98V44.628H135.241V43.5918Z' fill='%231D1D1D'/%3E%3Cpath d='M157.223 39.7324H160.151L164.518 46.6366V40.4302L163.873 39.7324H166.495V49.0684H164.37L159.676 41.7836V49.0684H157.762V40.5254L157.223 39.7324Z' fill='%231D1D1D'/%3E%3Cpath d='M90.1788 44.5017C90.1788 44.5017 91.9023 44.1845 91.9023 42.165C91.9023 40.1456 89.9885 39.7227 89.629 39.7227H83.1055L83.8562 40.6531V47.7053L85.0298 49.0481H89.5656C89.5656 49.0481 91.4582 48.9847 91.9868 47.0709C92.5155 45.1572 90.5278 44.4594 90.1788 44.5017ZM86.0236 40.6319H88.5189C88.5189 40.6319 90.1154 40.5262 90.1154 42.1862C90.1154 43.8462 88.6246 43.9096 88.6246 43.9096H86.0236V40.6319ZM88.7726 48.1705H86.0342V44.8929H88.8149C88.8149 44.8929 90.422 45.0409 90.422 46.4471C90.422 48.0437 88.7832 48.1705 88.7832 48.1705H88.7726Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_57_6516'%3E%3Crect width='166.505' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none;
}
.header_menu .gnb {
    position: relative;
}
.header_menu .gnb {
    position: relative;
}
.header_menu .gnb .gnb_wrap .depth1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header_menu .gnb .gnb_wrap ul.depth1 > li {
    width: 150px;
    position: relative; 
}
.header_menu .gnb .gnb_wrap ul.depth1 > li > a {
    display: block;
    line-height: 80px;
    font-size: 1.333rem;
    font-weight: 700;
}
header .gnb .gnb_wrap .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
}
header .gnb .gnb_wrap ul.depth2 > li > a {
    display: block;
    line-height: 2.2;
    color: var(--txt-color-txt);
}
header.menu_over .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='167' height='50' viewBox='0 0 167 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_57_6516)'%3E%3Cpath d='M20.8086 5.19137C20.8086 2.32607 23.0924 0 25.9154 0C28.7384 0 31.0222 2.32607 31.0222 5.19137C31.0222 8.05667 28.7384 10.3722 25.9154 10.3722C23.0924 10.3722 20.8086 8.0461 20.8086 5.19137Z' fill='%23D82B36'/%3E%3Cpath d='M4.09177 9.49465C4.09177 9.49465 3.16134 5.68835 0 6.98884C0 6.98884 3.20364 7.58093 2.24149 11.9687C1.26877 16.3566 4.13407 18.1223 5.0222 18.0483C5.0222 18.0483 5.36054 11.1758 11.0066 10.6365C16.4094 10.129 18.8835 16.0499 18.4183 17.8156C18.4183 17.8156 21.7065 11.937 15.7962 7.53864C9.82237 3.09795 4.32438 8.94485 4.09177 9.49465Z' fill='%23FDB913'/%3E%3Cpath d='M18.3125 18.0059C18.3125 18.0059 7.86633 32.4381 28.5261 49.9471C28.5261 49.9471 15.8596 45.5064 11.0594 36.1492C6.44954 27.141 12.1907 19.0526 18.3125 18.0059Z' fill='%23FDB913'/%3E%3Cpath d='M28.7797 50.0006C28.7797 50.0006 21.8543 42.6311 20.1309 34.2679C18.4815 26.2746 20.7019 18.4823 26.9822 15.0883C26.9822 15.0883 32.8291 11.282 42.9476 13.4706C50.9302 15.1941 63.9139 17.7527 70.9662 9.86523C70.9662 9.86523 69.5282 20.5335 56.8511 23.6102C56.8511 23.6102 52.5268 24.5512 46.7539 23.9803C40.981 23.4093 32.1736 20.6392 27.1831 25.7565C22.1927 30.8739 25.1743 42.6946 28.7797 50.0111V50.0006Z' fill='%23034EA2'/%3E%3Cpath d='M28.7811 49.7348C28.7811 49.7348 27.8189 38.982 33.9302 34.6259C39.6502 30.5553 48.299 36.9837 56.0279 28.927C56.0279 28.927 52.9617 30.1958 46.7553 29.2971C41.3736 28.5146 32.9786 25.1101 28.8868 31.5914C24.9854 37.7766 28.7811 49.7348 28.7811 49.7348Z' fill='%23034EA2'/%3E%3Cpath d='M100.393 10.6678L102.095 12.3594V13.4908H89.2169V10.5938H83.1797L84.607 12.8458V19.1896L86.4362 21.2408H106.43V10.6572H100.393V10.6678ZM102.084 18.8513H89.1429V16.1023H102.084V18.8513Z' fill='%231D1D1D'/%3E%3Cpath d='M107.984 24.2754H83.1055V26.7389H93.4142V33.7277H98.2144V26.7389H107.984V24.2754Z' fill='%231D1D1D'/%3E%3Cpath d='M130.937 10.7422L132.703 12.7088V15.6058H127.237C125.905 12.8885 123.24 11.0277 120.174 11.0277C115.765 11.0277 112.191 14.8551 112.191 19.5918C112.191 24.3286 115.765 28.1666 120.174 28.1666C122.912 28.1666 125.334 26.6758 126.772 24.4237H132.703V33.6646H136.911V10.7422H130.937ZM120.407 26.2529C118.102 26.2529 116.241 23.3241 116.241 19.6976C116.241 16.071 118.102 13.1423 120.407 13.1423C122.712 13.1423 124.572 16.071 124.572 19.6976C124.572 23.3241 122.712 26.2529 120.407 26.2529ZM127.766 22.2351C128.019 21.3998 128.167 20.5117 128.167 19.5918C128.167 18.8306 128.062 18.0799 127.882 17.3715H132.703V22.2351H127.766Z' fill='%231D1D1D'/%3E%3Cpath d='M143.531 13.6396V10.8906H163.726L165.417 12.6458V18.9896H161.083V13.6396H143.531Z' fill='%231D1D1D'/%3E%3Cpath d='M166.507 20.1836H142.168V22.5097H151.937V26.612H156.272V22.5097H166.507V20.1836Z' fill='%231D1D1D'/%3E%3Cpath d='M142.242 25.2695H148.142V31.1904H165.207V33.654H146.038L143.796 31.6768V27.0987L142.242 25.2695Z' fill='%231D1D1D'/%3E%3Cpath d='M119.552 40.8008V39.8281H111.559L112.309 40.7691V48.921H119.446V47.9271H114.424V44.5754H118.41V43.6027H114.424V40.8008H119.552Z' fill='%231D1D1D'/%3E%3Cpath d='M122.342 48.6244C121.634 48.2543 121.084 47.7151 120.672 47.0067C120.27 46.2877 120.059 45.4419 120.059 44.448C120.059 43.4541 120.27 42.6506 120.672 41.9422C121.084 41.2232 121.645 40.684 122.342 40.3034C123.04 39.9227 123.833 39.7324 124.7 39.7324C125.567 39.7324 126.328 39.9227 127.037 40.3034C127.735 40.684 128.295 41.2338 128.707 41.9422C129.12 42.6506 129.321 43.4964 129.321 44.448C129.321 45.3996 129.12 46.2877 128.707 47.0067C128.295 47.7151 127.745 48.2649 127.037 48.6244C126.339 48.9944 125.546 49.1742 124.69 49.1742C123.833 49.1742 123.03 48.9944 122.321 48.6244H122.342ZM122.342 46.5309C122.586 47.1018 122.903 47.5248 123.315 47.8102C123.727 48.0957 124.182 48.2437 124.7 48.2437C125.218 48.2437 125.662 48.0957 126.075 47.8102C126.487 47.5248 126.815 47.0913 127.047 46.5203C127.291 45.9494 127.407 45.2516 127.407 44.448C127.407 43.6445 127.291 42.9889 127.047 42.418C126.804 41.847 126.487 41.4135 126.075 41.1069C125.662 40.8109 125.208 40.6628 124.7 40.6628C124.193 40.6628 123.727 40.8109 123.315 41.1069C122.903 41.403 122.575 41.8365 122.332 42.418C122.089 42.9889 121.972 43.6656 121.972 44.448C121.972 45.2621 122.089 45.96 122.332 46.5309H122.342Z' fill='%231D1D1D'/%3E%3Cpath d='M98.6498 39.7324L99.3476 40.6628V45.8014C99.3476 47.7891 98.1423 48.2755 97.3388 48.2755C96.5352 48.2755 95.3933 47.8102 95.3616 45.8014L95.3827 39.7324H92.5703L93.2258 40.5465V46.034C93.2258 46.5943 93.4902 49.2905 97.3388 49.2905C101.187 49.2905 101.452 46.6155 101.452 46.034V39.7324H98.6392H98.6498Z' fill='%231D1D1D'/%3E%3Cpath d='M153.173 39.7324L153.882 40.6628V45.8014C153.882 47.7891 152.676 48.2755 151.873 48.2755C151.069 48.2755 149.927 47.8102 149.885 45.8014L149.906 39.7324H147.094L147.749 40.5465V46.034C147.749 46.5943 148.014 49.2905 151.862 49.2905C155.711 49.2905 155.975 46.6155 155.975 46.034V39.7324H153.163H153.173Z' fill='%231D1D1D'/%3E%3Cpath d='M102.297 39.7324H104.739L107.393 43.7925L109.835 39.7324H111.189L108.08 44.9661V48.9204H105.997V44.9344L103.196 40.5571L102.297 39.7324Z' fill='%231D1D1D'/%3E%3Cpath d='M143.955 41.9218H145.88C145.88 41.9218 145.288 39.416 141.365 39.416C137.442 39.416 136.766 42.5668 136.766 44.0259C136.766 45.1255 137.284 48.8049 141.323 48.8049C141.323 48.8049 143.416 48.9 143.976 47.515V48.8049H145.88V44.3536H142.803L143.976 45.1678V46.3837C143.976 46.3837 143.638 48.0542 141.312 47.8322C139.018 47.6101 138.753 44.5968 138.753 44.0999C138.753 44.0999 138.478 40.4522 141.566 40.2724C143.49 40.1561 143.934 41.9007 143.934 41.9007L143.955 41.9218Z' fill='%231D1D1D'/%3E%3Cpath d='M135.241 43.5918H130.98V44.628H135.241V43.5918Z' fill='%231D1D1D'/%3E%3Cpath d='M157.223 39.7324H160.151L164.518 46.6366V40.4302L163.873 39.7324H166.495V49.0684H164.37L159.676 41.7836V49.0684H157.762V40.5254L157.223 39.7324Z' fill='%231D1D1D'/%3E%3Cpath d='M90.1788 44.5017C90.1788 44.5017 91.9023 44.1845 91.9023 42.165C91.9023 40.1456 89.9885 39.7227 89.629 39.7227H83.1055L83.8562 40.6531V47.7053L85.0298 49.0481H89.5656C89.5656 49.0481 91.4582 48.9847 91.9868 47.0709C92.5155 45.1572 90.5278 44.4594 90.1788 44.5017ZM86.0236 40.6319H88.5189C88.5189 40.6319 90.1154 40.5262 90.1154 42.1862C90.1154 43.8462 88.6246 43.9096 88.6246 43.9096H86.0236V40.6319ZM88.7726 48.1705H86.0342V44.8929H88.8149C88.8149 44.8929 90.422 45.0409 90.422 46.4471C90.422 48.0437 88.7832 48.1705 88.7832 48.1705H88.7726Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_57_6516'%3E%3Crect width='166.505' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 600px;
    background-color: var(--txt-color-white);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    content: "";
}
header.menu_over .header_top {
    color:#666;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
header.menu_over .header_menu {
    color: var(--txt-color-tit);
}
header.menu_over .gnb .gnb_wrap .depth2  {
    display: block;
}
header.menu_over .gnb .gnb_wrap ul.depth1 > li:hover,
header.menu_over .gnb .gnb_wrap ul.depth2 > li:hover a {
    color: var(--txt-color-pink);
}
@media screen and (max-width:1180px) {
    header .gnb .gnb_open {
        display: block;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        top: -25px;
        right: 20px;
        width: 45px;
        height: 45px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 30V26.6667H35V30H5ZM5 21.6667V18.3333H35V21.6667H5ZM5 13.3333V10H35V13.3333H5Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 30V26.6667H35V30H5ZM5 21.6667V18.3333H35V21.6667H5ZM5 13.3333V10H35V13.3333H5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    .header_menu {
        position: relative;
    }
    header .gnb .gnb_close {
        display: none;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        top: -25px;
        right: 20px;
        width: 45px;
        height: 45px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6654 31.6673L8.33203 29.334L17.6654 20.0007L8.33203 10.6673L10.6654 8.33398L19.9987 17.6673L29.332 8.33398L31.6654 10.6673L22.332 20.0007L31.6654 29.334L29.332 31.6673L19.9987 22.334L10.6654 31.6673Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header.fixed .gnb .gnb_close::before {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6654 31.6673L8.33203 29.334L17.6654 20.0007L8.33203 10.6673L10.6654 8.33398L19.9987 17.6673L29.332 8.33398L31.6654 10.6673L22.332 20.0007L31.6654 29.334L29.332 31.6673L19.9987 22.334L10.6654 31.6673Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header .header_menu .gnb .gnb_wrap {
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        width: 400px;
        height: 100vh;
        background-color: #2E2E2E;
        color: var(--txt-color-white);
        z-index: 100;
    }
}
@media screen and (max-width:1024px) {
    header .gnb .gnb_open::before {
        top: -20px;
        width: 40px;
        height: 40px;
    } 
}
@media screen and (max-width:768px) {
    header .logo a {
        width: 80px;
        height: 40px;
    }
    header .logo a::before {
        background-image: url("data:image/svg+xml,%3Csvg width='71' height='51' viewBox='0 0 71 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8086 5.19137C20.8086 2.32607 23.0924 0 25.9154 0C28.7384 0 31.0222 2.32607 31.0222 5.19137C31.0222 8.05667 28.7384 10.3722 25.9154 10.3722C23.0924 10.3722 20.8086 8.0461 20.8086 5.19137Z' fill='%23D82B36'/%3E%3Cpath d='M4.09177 9.49465C4.09177 9.49465 3.16134 5.68835 0 6.98884C0 6.98884 3.20364 7.58093 2.24149 11.9687C1.26877 16.3566 4.13407 18.1223 5.0222 18.0483C5.0222 18.0483 5.36054 11.1758 11.0066 10.6365C16.4094 10.129 18.8835 16.0499 18.4183 17.8156C18.4183 17.8156 21.7065 11.937 15.7962 7.53864C9.82237 3.09795 4.32438 8.94485 4.09177 9.49465Z' fill='%23FDB913'/%3E%3Cpath d='M18.3125 18.0059C18.3125 18.0059 7.86633 32.4381 28.5261 49.9471C28.5261 49.9471 15.8596 45.5064 11.0594 36.1492C6.44954 27.141 12.1907 19.0526 18.3125 18.0059Z' fill='%23FDB913'/%3E%3Cpath d='M28.7797 50.0006C28.7797 50.0006 21.8543 42.6311 20.1309 34.2679C18.4815 26.2746 20.7019 18.4823 26.9822 15.0883C26.9822 15.0883 32.8291 11.282 42.9476 13.4706C50.9302 15.1941 63.9139 17.7527 70.9662 9.86523C70.9662 9.86523 69.5282 20.5335 56.8511 23.6102C56.8511 23.6102 52.5268 24.5512 46.7539 23.9803C40.981 23.4093 32.1736 20.6392 27.1831 25.7565C22.1927 30.8739 25.1743 42.6946 28.7797 50.0111V50.0006Z' fill='%23034EA2'/%3E%3Cpath d='M28.7811 49.7348C28.7811 49.7348 27.8189 38.982 33.9302 34.6259C39.6502 30.5553 48.299 36.9837 56.0279 28.927C56.0279 28.927 52.9617 30.1958 46.7553 29.2971C41.3736 28.5146 32.9786 25.1101 28.8868 31.5914C24.9854 37.7766 28.7811 49.7348 28.7811 49.7348Z' fill='%23034EA2'/%3E%3C/svg%3E%0A");
    }
    header.fixed .logo a::before {
        background-image: url("data:image/svg+xml,%3Csvg width='71' height='51' viewBox='0 0 71 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8086 5.19137C20.8086 2.32607 23.0924 0 25.9154 0C28.7384 0 31.0222 2.32607 31.0222 5.19137C31.0222 8.05667 28.7384 10.3722 25.9154 10.3722C23.0924 10.3722 20.8086 8.0461 20.8086 5.19137Z' fill='%23D82B36'/%3E%3Cpath d='M4.09177 9.49465C4.09177 9.49465 3.16134 5.68835 0 6.98884C0 6.98884 3.20364 7.58093 2.24149 11.9687C1.26877 16.3566 4.13407 18.1223 5.0222 18.0483C5.0222 18.0483 5.36054 11.1758 11.0066 10.6365C16.4094 10.129 18.8835 16.0499 18.4183 17.8156C18.4183 17.8156 21.7065 11.937 15.7962 7.53864C9.82237 3.09795 4.32438 8.94485 4.09177 9.49465Z' fill='%23FDB913'/%3E%3Cpath d='M18.3125 18.0059C18.3125 18.0059 7.86633 32.4381 28.5261 49.9471C28.5261 49.9471 15.8596 45.5064 11.0594 36.1492C6.44954 27.141 12.1907 19.0526 18.3125 18.0059Z' fill='%23FDB913'/%3E%3Cpath d='M28.7797 50.0006C28.7797 50.0006 21.8543 42.6311 20.1309 34.2679C18.4815 26.2746 20.7019 18.4823 26.9822 15.0883C26.9822 15.0883 32.8291 11.282 42.9476 13.4706C50.9302 15.1941 63.9139 17.7527 70.9662 9.86523C70.9662 9.86523 69.5282 20.5335 56.8511 23.6102C56.8511 23.6102 52.5268 24.5512 46.7539 23.9803C40.981 23.4093 32.1736 20.6392 27.1831 25.7565C22.1927 30.8739 25.1743 42.6946 28.7797 50.0111V50.0006Z' fill='%23034EA2'/%3E%3Cpath d='M28.7811 49.7348C28.7811 49.7348 27.8189 38.982 33.9302 34.6259C39.6502 30.5553 48.299 36.9837 56.0279 28.927C56.0279 28.927 52.9617 30.1958 46.7553 29.2971C41.3736 28.5146 32.9786 25.1101 28.8868 31.5914C24.9854 37.7766 28.7811 49.7348 28.7811 49.7348Z' fill='%23034EA2'/%3E%3C/svg%3E%0A");
    }
    .header_top .wrapper {
        height: 30px;
    }
    .header_top .h_left ul li:first-child {
        padding-right: 30px;
    }
    .header_top .h_right,
    .header_top .h_right ul {
        display: flex;
        align-items: center;
    }
    .header_top .h_right ul.sns li {
        margin-right: 8px;
    }
    .header_top .h_right ul.sns li a {
        width: 18px;
        height: 18px;
    }
    .header_menu {
        height: 60px;
    }
    header .gnb .gnb_open::before {
        top: -15px;
        width: 25px;
        height: 25px;
    }
    header .gnb .gnb_close::before {
        top: -15px;
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width:425px) {
    .header_top .h_right .weather .w_txt {
        display: none;
    }
}

footer {
    margin-top: 150px;
    background-color: #232323;
    color: #e4e4e4;
    padding-bottom: 93px;
}
footer .wrapper {
    display: flex;
    flex-direction: column;
}
footer .site_area .family_site {
    float: left;
    position: relative;
    width: 14.2%;
    border-right: 1px solid #4A4A4A;
    box-sizing: border-box;
}
footer .site_area .family_site {
    width: 14.2%;
    position: relative;
}
footer .site_area .family_site button {
    width: 100%;
    height: 56px;
    border: 1px solid #4A4A4A;
    text-align: left;
    padding-left: 18px;
    position: relative;
}
footer .site_area .family_site button::before {
    position: absolute;
    right: 5px;
    top: 15px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content:""
}
footer .site_area .family_site button.family_open::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0014 11.0543L7.40141 15.6543L6.34766 14.6005L12.0014 8.9468L17.6552 14.6005L16.6014 15.6543L12.0014 11.0543Z' fill='%23E4E4E4'/%3E%3C/svg%3E%0A");
}
footer .site_area .family_site button.family_close::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6548 13.6L16.2548 9L17.3086 10.0537L11.6548 15.7075L6.00109 10.0537L7.05484 9L11.6548 13.6Z' fill='%23E4E4E4'/%3E%3C/svg%3E%0A");
}
footer .site_area .family_site .family_close {
    display: none;
}
footer .site_area .family_site ul {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    content: "";
    background-color: #2E2E2E;
    border: 1px solid #4A4A4A;
    color: var(--txt-color-white);
    padding: 18px;
    z-index: 1;
}
footer .site_area .family_site ul li a{
    display: block;
    text-align: center;
    line-height: 2;
} 
footer .family_site.open .family_open {
    display: none;
}
footer .family_site.open .family_close {
    display: block;
}
@media screen and (max-width:1024px) {
    footer .site_area {
        width: 100%;
    }
    footer .site_area .family_site {
        width: 50%;
    }
    footer .site_area .family_site_7 {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    
}
footer .footer_sub {
    display: flex;
    font-size: 0.933rem;
}
footer .f_logo {
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-right: 40px;
}
footer .f_logo a {
    display: block;
    width:  68px;
    height: 70px;
}
footer .f_logo a::before {
    position: absolute;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='68' height='70' viewBox='0 0 68 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_5884)'%3E%3Cpath d='M19.9453 4.9904C19.9453 2.23608 22.1349 0 24.8407 0C27.5465 0 29.7361 2.23608 29.7361 4.9904C29.7361 7.74472 27.5465 9.98081 24.8407 9.98081C22.1349 9.98081 19.9453 7.74472 19.9453 4.9904Z' fill='%23E4E4E4'/%3E%3Cpath d='M3.92014 9.1353C3.92014 9.1353 3.03093 5.47887 0 6.71688C0 6.71688 3.06918 7.28309 2.14173 11.5057C1.21429 15.7284 3.95838 17.427 4.80934 17.3503C4.80934 17.3503 5.13442 10.738 10.5461 10.2198C15.7283 9.73031 18.0996 15.4213 17.6502 17.1199C17.6502 17.1199 20.7958 11.4674 15.1355 7.24471C9.40832 2.97407 4.14005 8.59787 3.92014 9.1257V9.1353Z' fill='%23E4E4E4'/%3E%3Cpath d='M17.5452 17.3223C17.5452 17.3223 7.53452 31.1994 27.3264 48.042C27.3264 48.042 15.1836 43.7714 10.5941 34.7695C6.17681 26.1035 11.6841 18.3299 17.5452 17.3223Z' fill='%23E4E4E4'/%3E%3Cpath d='M27.5734 48.0907C27.5734 48.0907 20.9379 41.0082 19.2838 32.9563C17.7062 25.2596 19.8288 17.774 25.8524 14.5014C25.8524 14.5014 31.4553 10.8354 41.1505 12.9467C48.7995 14.607 61.2388 17.0734 67.9986 9.47266C67.9986 9.47266 66.6218 19.7318 54.479 22.6972C54.479 22.6972 50.3293 23.5993 44.8029 23.0523C39.2765 22.4957 30.8338 19.8373 26.0436 24.7606C21.2534 29.6838 24.1218 41.0466 27.5734 48.0907Z' fill='%23E4E4E4'/%3E%3Cpath d='M27.5737 47.8405C27.5737 47.8405 26.6558 37.5047 32.5073 33.3108C37.986 29.3856 46.2756 35.5757 53.6856 27.8309C53.6856 27.8309 50.7408 29.0498 44.8032 28.186C39.6496 27.4375 31.599 24.1649 27.6789 30.4029C23.9404 36.353 27.5833 47.8501 27.5833 47.8501L27.5737 47.8405Z' fill='%23E4E4E4'/%3E%3Cpath d='M15.8532 56.4485L16.8476 57.4466V58.1088H9.31328V56.4102H5.78516L6.61699 57.7345V61.4677L7.68786 62.6674H19.3909V56.4485H15.8532ZM16.8476 61.2566H9.27503V59.6443H16.8476V61.2566Z' fill='%23E4E4E4'/%3E%3Cpath d='M20.3001 64.4434H5.73828V65.8925H11.7715V70H14.5825V65.8925H20.3001V64.4434Z' fill='%23E4E4E4'/%3E%3Cpath d='M33.742 56.4863L34.7746 57.6476V59.3462H31.5811C30.7971 57.7435 29.2386 56.6591 27.4411 56.6591C24.8596 56.6591 22.7656 58.9143 22.7656 61.6879C22.7656 64.4614 24.8596 66.7262 27.4411 66.7262C29.0474 66.7262 30.4625 65.8529 31.3039 64.5286H34.7746V69.9604H37.2319V56.4959H33.7324L33.742 56.4863ZM27.575 65.6034C26.2268 65.6034 25.1368 63.8856 25.1368 61.755C25.1368 59.6245 26.2268 57.8971 27.575 57.8971C28.9231 57.8971 30.0131 59.6245 30.0131 61.755C30.0131 63.8856 28.9231 65.6034 27.575 65.6034ZM31.8871 63.2426C32.0401 62.7531 32.1166 62.2349 32.1166 61.6879C32.1166 61.2368 32.0592 60.7953 31.954 60.3827H34.7746V63.2426H31.8871Z' fill='%23E4E4E4'/%3E%3Cpath d='M41.1133 58.1865V56.5742H52.9406L53.9254 57.6107V61.3343H51.3917V58.1865H41.1133Z' fill='%23E4E4E4'/%3E%3Cpath d='M54.5667 62.0352H40.3203V63.4075H46.038V65.8163H48.5717V63.4075H54.5667V62.0352Z' fill='%23E4E4E4'/%3E%3Cpath d='M40.3594 65.0293H43.811V68.5034H53.8121V69.9525H42.5872L41.2773 68.7913V66.1041L40.3594 65.0293Z' fill='%23E4E4E4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_5884'%3E%3Crect width='68' height='70' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
footer .f_nav {
    margin-top: 46px;
}
footer .f_nav ul li a {
    display: block;
}
footer .f_info {
    margin: 20px 0;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;
}
footer .f_nav ul li {
    margin-right: 32px;
}
footer .copy {
    font-size: 0.867rem;
}

@media screen and (max-width:1024px) {
    footer {
        margin-top: 120px;
        background-color: #232323;
        color: #e4e4e4;
    }
}
@media screen and (max-width:768px) {
    footer {
        margin-top: 80px;
    }
    footer .footer_sub {
        display: block;
        margin-top: 50px;
    }
    footer .f_nav ul {
        display: flex;
        justify-content: center;
    }
    footer .f_nav ul li {
        margin-right: 22px;
    }
    footer .f_info {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .copy {
        text-align: center;
    }
}